
table {
    border-collapse: collapse;
    background-color: #d4e9e9;
    text-align: center;
    margin:1%;
    width: 100%;
}

.tableFixHead {
    overflow-y: auto;
    height: 500px;
    background-color: whitesmoke;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    background-color: #3b7767;
    color:aliceblue;
    text-align: center;
}


td{
    width:1%;
   
}


.btn-success {
    color: #fff;
    background-color: #6c72eb;
    border-color: #beadd7;
}

div.buttons{
    margin-left:40%;
    margin-top: 1%;
}
.navbar {
    background-color: #376e6c;
    color: #efefd0;
    justify-content: center;
}

.btn{
    background-color: #3b7767;
    color:aliceblue;
}
.input-group-prepend {
    margin-right: -1px;
    width: 15%;
}
span.myspan {
    background-color: #3b7767;
    color:aliceblue;
  }
  .input-group-prepend {
    margin-right: -1px;
    margin: 10px;
    margin-left: 22%;
}
.title{
    margin-left:5%;
}
#deptm.form-control{
    background-color: #d0dfde;
    width: 200px;
}
#loca.form-control{
    background-color: #d0dfde;
    width: 200px;
}
#searchid.col-sm-1.col-md-7{
    background-color: #d0dfde;
}
#remove-button {
    display: none;
    margin-left:50px;
    padding-top:0px;
    padding: 7px;


}

#advancedRow {
    display: none;
    margin-left: 100px;
 
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: center;
    width: 88%;
    margin-left: 7%;
    margin-right: -22%;
    
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 93px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: -4.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline;
}
.custom-select{
    background-color: #3b7767;
    color:white;
}
.input-group-text{
    background-color: #3b7767;
    color:white;
}

@media only screen and (max-width: 1025px) {
    table {
        border-collapse: collapse;
        background-color: #d4e9e9;
        text-align: center;
        margin:1%;
        width: 100%;
    }
    .tableFixHead {
        overflow-y: auto;
        height: 500px;
        background-color: whitesmoke;
    }
    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background-color: #3b7767;
        color:aliceblue;
        text-align: center;
    }
    
    
    td{
        width:1%;
       
    }
    
    
    .btn-success {
        color: #fff;
        background-color: #6c72eb;
        border-color: #beadd7;
    }
    
    div.buttons{
        margin-left:40%;
        margin-top: 1%;
    }
    .navbar {
        background-color: #376e6c;
        color: #efefd0;
        justify-content: center;
    }
    
    .btn{
        background-color: #3b7767;
        color:aliceblue;
    }
    .input-group-prepend {
        margin-right: -1px;
        width: 15%;
    }
    span.myspan {
        background-color: #3b7767;
        color:aliceblue;
      }
      .input-group-prepend {
        margin-right: -1px;
        margin: 10px;
        margin-left: 50%;
        width:65%;
    }
    .title{
        margin-left:38%;
    }
    #deptm.form-control{
        background-color: #d0dfde;
        width: 50px;
    }
    #loca.form-control{
        background-color: #d0dfde;
        width: 50px;
    }

    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 30%;
    }
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin-left: 49%;
    }
}


@media only screen and (max-width: 650px) {
    html {
        font-size: 0.55em;
    }
    table {
        border-collapse: collapse;
        background-color: #d4e9e9;
        text-align: center;
        margin:1%;
        width: 50%;
    }
    .tableFixHead {
       overflow-y: auto;
        height: 700px;
        
        background-color: whitesmoke;
    }
    .tableFixHead thead th {
        position: sticky;
        top: 0;
        background-color: #3b7767;
        color:aliceblue;
        text-align: center;
    }
    .title{
        margin-left:25%;
    }
    div.buttons{
        margin-left:30%;
        margin-top: 1%;
    }
    .input-group-prepend {
        margin-right: -1px;
        margin: 10px;
        margin-left: 12%;
    }
    #deptm.form-control{
        background-color: #d0dfde;
        width: 45px;
    }
    #loca.form-control{
        background-color: #d0dfde;
        width: 45px;
    }
}